body {
    background-image: linear-gradient(to top, #000000, #3803AA);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: 'Assistant', Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

header {
    padding-top: 15px;
    text-align: center;
}

header a {
    text-decoration: none;
    transition: color 1s ease-out;}
header a:link {
    color: #fff;}
header a:visited {
    color: #fff;}
header a:hover {
    color: #028D29;
}

h1 {
    font-family: 'Antic Slab', Times, serif;
    font-size: 40px;
}

nav {
    font-size: 20px;
    padding: 15px;
}

#deb {
    padding-right: 120px;
    padding-bottom: 4rem;
    float: right;
    
}

.fa-cat {
    font-size: 40px;
    padding: 10px;
}

section {
    margin-left: 7rem;
    margin-right: 7rem;
}

.flexbox {
    display: flex;
    flex-direction: column;
    border: 1px dotted #fff;
    align-items: center;
}

article {
    padding-bottom: 1em;
}

h2 {
   font-size: 25px;
}

p {
    padding-bottom: 2rem;
}

.bio {
    padding-top: 50px;
    width: 55%;
}

h3 {
    font-size: 20px;
}

footer {
    text-align: center;
    font-size: 11px;
    clear: both;
    font-style: italic;
}